---
import i18next, { t, changeLanguage } from "i18next";
import { LineShadowText } from "@/components/magicui/line-shadow-text";
import MoreInfo from "./MoreInfo.jsx";
import { getProyectos } from "../../data/getData.js";

const currentLanguage = i18next.language;
const proyectos = getProyectos(currentLanguage);
---

<section class="section">
  <div class="absolute top-0 left-1/2 -translate-x-1/2">
    <h2 class="text-7xl text-center mt-10">
      <LineShadowText shadowColor={"white"} client:load content="PROYECTOS" />
    </h2>
  </div>
  {
    proyectos.map((proyecto) => (
      <div class="flex items-center justify-center min-h-screen px-20">
        <div class="slide">
          <div class="bg-[#333] p-5 rounded-lg h-min max-w-5xl mx-auto relative">
            <div class="border-b-2 border-[#db750e] pb-5">
              <div class="flex items-center justify-between">
                <h3 class="text-white text-xl font-semibold">
                  {proyecto.nombre}
                </h3>
                <div class="flex gap-4 items-center text-white text-sm">
                  {/*Mapeo de cada dominio*/}
                  {proyecto.area.map((dominio) => (
                    <span class="animate-pulse">
                      ★ <span>{dominio}</span>
                    </span>
                  ))}
                </div>
              </div>
            </div>

            <div class="flex flex-col md:flex-row gap-5 mt-5 items-center justify-center">
              <div class="w-full md:w-1/2">
                {proyecto.video ? (
                  <video
                    src={proyecto.video}
                    controls
                    class="w-full h-auto rounded-2xl"
                    autoplay
                    loop
                  ></video>
                ) : <img
                  src={proyecto.img}
                  alt={proyecto.nombre}
                  class="object-cover w-full h-auto rounded-2xl"
                />}
              </div>

              <div class="w-full md:w-1/2">
                <p class="text-justify">{proyecto.objetivo}</p>
                <MoreInfo client:load proyecto={proyecto} />
              </div>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</section>

<style>
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
</style>
