---
import { herramientas } from "../../data/herramientas.js";
import i18next, { t, changeLanguage } from "i18next";

let currentLanguage = i18next.language;
---

<section class="section">
  <div
    class="bg-[url('img/bg-3.png')] bg-start bg-cover w-full h-full flex items-center justify-center"
  >
    <div class="gap-10 flex flex-row bg-black/80 rounded-2xl m-10">
      {
        herramientas.map((herramienta) => (
          <div class="p-5 rounded-lg">
            {currentLanguage === "fr" ? (
              <h3>{herramienta.titulo_fr}</h3>
            ) : currentLanguage === "en" ? (
              <h3>{herramienta.titulo_en}</h3>
            ) : (
              <h3>{herramienta.titulo_es}</h3>
            )}
            <br />
            <div class="tipos">
              <div class="tipo">
                {herramienta.tipos.map((tipo) => (
                  <div class="tipo-info">
                    <img
                      data-src={tipo.img}
                      alt={tipo.nombre}
                      class="tipo-img"
                    />
                    <p>{tipo.herramienta}</p>
                  </div>
                ))}
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  h3 {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #db750e;
    padding-bottom: 0.25rem;
  }
  .herramientas {
    gap: 20px;
    margin: 1rem;
    justify-content: center;
  }

  .tipos {
    padding-left: 2rem;
    align-items: center;
  }

  .tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: flex-start;
  }

  .tipo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: auto;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #333;
    transition-duration: 0.3s;
  }

  .tipo-info:hover {
    transform: translateY(-10px);
  }

  .tipo-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .tipo p {
    padding: 5px 0;
    margin: 0;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
  }

  @media (max-width: 376px) {
    .tipos {
      padding-left: 0;
    }
  }
</style>
